@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 68px;
    margin-left: 140px;
    margin-top: 300px;
}